.env

TDS-GA.xlsx

TDS Project 2.ipynb

rough.txt

rough.py

README1.md

q-vercel-python1.json

q-vercel-python.json

q-unicode-data.zip

q-compare-files.zip

q-compare-files_unzipped/

q-list-files-attributes.zip

q-list-files-attributes_unzipped/

q-move-rename-files.zip

q-move-rename-files_unzipped/

html_extract.py

hash_q.txt

lenna.webp

q-fastapi.csv

shapes.png

q8.py

function_calling.py

GA3_q7.py

daniel.png

audio_segment.mp3

downloaded_audio.mp3

ffmpeg-release-amd64-static.tar.xz

audio.py

q-clean-up-excel-sales-data.xlsx

q-clean-up-sales-data.json

q-clean-up-student-marks.txt

q-extract-nested-json-keys.json

q-parse-partial-json.jsonl

s-anand.net-May-2024.gz

func_desc_2.py

func_desc_3.py

maximum_latitude.py

weather_forecast.py

GA4_q3.py

q-pdf-to-markdown.md

q-replace-across-files_unzipped

GA5_10_reconstructed.png

GA5_10.png

q-extract-tables-from-pdf.pdf

GA5_10.webp

q-pdf-to-markdown.pdf

app.py


ngrok

ngrok-stable-linux-amd64.zip

ngrok-v3-stable-linux-amd64.tgz

requirements_old.txt

test_data/

__pycache__/